body {
  background-image: url('36810156-free-blackboard-blackboard-image.jpg');
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  border: 5px solid rgb(161, 9, 175);
  display: block;
  margin: 0 auto;
}

h1, h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  text-align: center;
  font-size: 80px;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  text-align: center;
  font-size: 30px;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
}